<!-- Profile Sidebar -->
<div class="profile-sidebar" *ngIf="patient">
  <div class="widget-profile pro-widget-content">
    <div class="profile-info-widget">
      <a href="#" class="booking-doc-img">
        <img
          [src]="'http://localhost:8083/uploads/profile-pictures/' + patient.profilePicture"
          alt="User Image"
        />
      </a>
      <div class="profile-det-info">
        <h3>{{ patient.firstname }} {{ patient.lastname }}</h3>
        <div class="patient-details">
          <h5>
            <i class="fas fa-birthday-cake"></i>
            {{ patient.dateOfBirth | date:'dd MMM yyyy' }} years {{ calculateAge(patient.dateOfBirth) }}
          </h5>
          <h5 class="mb-0">
            <i class="fas fa-map-marker-alt"></i>
            {{ patient.city }}, {{ patient.country }}
          </h5>
        </div>
      </div>
    </div>
  </div>

  <div class="dashboard-widget">
    <nav class="dashboard-menu">
      <ul>
        <li class="active">
          <a [routerLink]="['/home/patient/features/patient-dashboard']">
            <i class="fas fa-columns"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/home/patient/features/profile-patient-settings']">
            <i class="fas fa-user-cog"></i>
            <span>Profile Settings</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/home/patient/features/update-patient-password']">
            <i class="fas fa-lock"></i>
            <span>Change Password</span>
          </a>
        </li>
        <li>
          <a (click)="logout()">
            <i class="fas fa-sign-out-alt"></i>
            <span>Logout</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<!-- /Profile Sidebar -->
