<form [formGroup]="doctorForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
<!-- Basic Information -->

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Basic Information</h4>
    <div class="row form-row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="change-avatar">
            <!-- Profile Picture Preview -->
            <div *ngIf="profilePicturePreview">
              <img
                [src]="profilePicturePreview?.toString().startsWith('data') ? profilePicturePreview : 'http://localhost:8083/uploads/profile-pictures/' + profilePicturePreview"
                alt="Profile Picture"
                width="150"
              />
            </div>
            <div class="upload-img">
              <div class="change-photo-btn">
                <span><i class="fa fa-upload"></i> Upload Photo</span>
                <input type="file" class="upload" (change)="onProfilePictureChange($event)">
              </div>
              <small class="form-text text-muted">Allowed JPG, GIF or PNG. Max size of 2MB</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Username <span class="text-danger">*</span></label>
          <input type="text" class="form-control" formControlName="username" readonly>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Email <span class="text-danger">*</span></label>
          <input type="email" class="form-control" formControlName="email" readonly>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>First Name <span class="text-danger">*</span></label>
          <input type="text" class="form-control" formControlName="firstname">
          <div *ngIf="doctorForm.get('firstname')?.invalid && doctorForm.get('firstname')?.touched" class="text-danger">
            First name is required.
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Last Name <span class="text-danger">*</span></label>
          <input type="text" class="form-control" formControlName="lastname">
          <div *ngIf="doctorForm.get('lastname')?.invalid && doctorForm.get('lastname')?.touched" class="text-danger">
            Last name is required.
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Phone Number</label>
          <input type="text" class="form-control" formControlName="phone">
          <div *ngIf="doctorForm.get('phone')?.invalid && doctorForm.get('phone')?.touched" class="text-danger">
            Phone number is required.
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Gender</label>
          <select class="form-control" formControlName="gender">
              <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group mb-0">
          <label>Date of Birth</label>
          <input type="text" class="form-control" formControlName="dateOfBirth">
          <div *ngIf="doctorForm.get('dateOfBirth')?.invalid && doctorForm.get('dateOfBirth')?.touched" class="text-danger">
            Date of birth is required.
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group mb-0">
          <label>Country</label>
          <input type="text" class="form-control" formControlName="country">
          <div *ngIf="doctorForm.get('country')?.invalid && doctorForm.get('country')?.touched" class="text-danger">
            Country is required.
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group mb-0">
          <label>City</label>
          <input type="text" class="form-control" formControlName="city">
          <div *ngIf="doctorForm.get('city')?.invalid && doctorForm.get('city')?.touched" class="text-danger">
            City is required.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Basic Information -->

<!-- About Me -->
<div class="card">
  <div class="card-body">
    <h4 class="card-title">About Me</h4>
    <div class="form-group mb-0">
      <label>Biography</label>
      <textarea class="form-control" rows="10" formControlName="biography"></textarea>
    </div>
  </div>
</div>
<!-- /About Me -->

<!-- Clinic Info -->
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Clinic Info</h4>
    <div class="row form-row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Clinic Name</label>
          <input type="text" class="form-control" formControlName="clinicName">
        </div>
      </div>
<!--      <div class="col-md-6">-->
<!--        <div class="form-group">-->
<!--          <label>Clinic Address</label>-->
<!--          <input type="text" class="form-control" formControlName="clinicAddress">-->
<!--        </div>-->
<!--      </div>-->
      <div class="col-md-12">
        <div class="form-group">
          <label>Clinic Images</label>
          <input #clinicFileInput type="file" multiple (change)="onClinicImagesChange($event)">
          <form class="dropzone">
            <div class="upload-wrap">
              <div class="upload-images" *ngFor="let image of clinicImagePreviews; let i = index">
                <img
                  [src]="image?.toString().startsWith('data') ? image : 'http://localhost:8083/uploads/clinic-images/' + image"
                  alt="Clinic Image"
                  class="clinic-image"
                />                <a href="javascript:void(0);" class="btn btn-icon btn-danger btn-sm" (click)="removeClinicImage(i)">
                  <i class="far fa-trash-alt"></i>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Clinic Info -->

<!-- Contact Details -->
<div class="card contact-card">
  <div class="card-body">
    <h4 class="card-title">Contact Details</h4>
    <div class="row form-row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Address</label>
            <input type="text" class="form-control" formControlName="clinicAddress">
          <div *ngIf="doctorForm.get('clinicAddress')?.invalid && doctorForm.get('clinicAddress')?.touched" class="text-danger">
            Clinic address is required.
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Clinic contact</label>
          <input type="text" class="form-control" formControlName="clinicContact">
          <div *ngIf="doctorForm.get('clinicContact')?.invalid && doctorForm.get('clinicContact')?.touched" class="text-danger">
            Clinic contact is required.
          </div>
        </div>
      </div>
<!--      <div class="col-md-6">-->
<!--        <div class="form-group">-->
<!--          <label class="control-label">City</label>-->
<!--          <input type="text" class="form-control">-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col-md-6">-->
<!--        <div class="form-group">-->
<!--          <label class="control-label">State / Province</label>-->
<!--          <input type="text" class="form-control">-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-6">-->
<!--        <div class="form-group">-->
<!--          <label class="control-label">Country</label>-->
<!--          <input type="text" class="form-control">-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-6">-->
<!--        <div class="form-group">-->
<!--          <label class="control-label">Postal Code</label>-->
<!--          <input type="text" class="form-control">-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</div>
<!-- /Contact Details -->

<!-- Pricing -->
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Pricing</h4>

    <div class="form-group mb-0">
      <div id="pricing_select">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Custom Price</label>
            <input type="number" class="form-control" formControlName="customPrice">
            <div *ngIf="doctorForm.get('customPrice')?.invalid && doctorForm.get('customPrice')?.touched" class="text-danger">
              Price is required.
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row custom_price_cont" id="custom_price_cont" style="display: none;">
      <div class="col-md-4">
        <input type="text" class="form-control" id="custom_rating_input" name="custom_rating_count" value="" placeholder="20">
        <small class="form-text text-muted">Custom price you can add</small>
      </div>
    </div>

  </div>
</div>
<!-- /Pricing -->
  <!-- speciality -->
  <div class="col-md-6">
    <div class="form-group">
      <label>Speciality <span class="text-danger">*</span></label>
      <select formControlName="specialityIds" class="form-control">
        <option [ngValue]="null" disabled>Select a speciality</option>
        <option *ngFor="let s of specialities" [ngValue]="s.id">{{ s.name }}</option>
      </select>
      <div *ngIf="doctorForm.get('specialityIds')?.invalid && doctorForm.get('specialityIds')?.touched" class="text-danger">
        Speciality is required.
      </div>
    </div>
  </div>
  <!-- /speciality -->

  <!-- Services -->
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Services</h4>
      <div class="service-info" formArrayName="services">
        <div *ngFor="let service of services.controls; let i = index" [formGroupName]="i" class="row form-row service-cont">
          <div class="col-12 col-md-10 col-lg-11">
            <div class="row form-row">
              <div class="col-12 col-md-6 col-lg-6">
                <div class="form-group">
                  <label>Service Name</label>
                  <input type="text" class="form-control" formControlName="services_name">
                  <div *ngIf="service.get('services_name')?.invalid && service.get('services_name')?.touched" class="text-danger">
                    Services name is required.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-2 col-lg-1 d-flex align-items-center">
            <a href="javascript:void(0);" (click)="removeService(i)" class="text-danger">
              <i class="fa fa-trash fa-lg"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="add-more">
        <a href="javascript:void(0);" class="add-service" (click)="addService()">
          <i class="fa fa-plus-circle"></i> Add More
        </a>
      </div>
    </div>
  </div>
  <!-- /Services -->

  <!-- Education -->
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Education</h4>
      <div class="education-info" formArrayName="education">
        <div *ngFor="let edu of education.controls; let i = index" [formGroupName]="i" class="row form-row education-cont">
          <div class="col-12 col-md-10 col-lg-11">
            <div class="row form-row">
              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group">
                  <label>Degree</label>
                  <input type="text" class="form-control" formControlName="degree">
                  <div *ngIf="edu.get('degree')?.invalid && edu.get('degree')?.touched" class="text-danger">
                    Degree is required.
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group">
                  <label>College/Institute</label>
                  <input type="text" class="form-control" formControlName="institute">
                  <div *ngIf="edu.get('institute')?.invalid && edu.get('institute')?.touched" class="text-danger">
                    Institute is required.
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group">
                  <label>Year of Completion</label>
                  <input type="text" class="form-control" formControlName="yearOfCompletion">
                  <div *ngIf="edu.get('yearOfCompletion')?.invalid && edu.get('yearOfCompletion')?.touched" class="text-danger">
                    Year of completion is required.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-2 col-lg-1 d-flex align-items-center">
            <a href="javascript:void(0);" (click)="removeEducation(i)" class="text-danger">
              <i class="fa fa-trash fa-lg"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="add-more">
        <a href="javascript:void(0);" class="add-education" (click)="addEducation()">
          <i class="fa fa-plus-circle"></i> Add More
        </a>
      </div>
    </div>
  </div>
  <!-- /Education -->

  <!-- Experience -->
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Experience</h4>
      <div class="experience-info" formArrayName="experience">
        <div *ngFor="let exp of experience.controls; let i = index" [formGroupName]="i" class="row form-row experience-cont">
          <div class="col-12 col-md-10 col-lg-11">
            <div class="row form-row">
              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group">
                  <label>Hospital Name</label>
                  <input type="text" class="form-control" formControlName="hospitalName">
                  <div *ngIf="exp.get('hospitalName')?.invalid && exp.get('hospitalName')?.touched" class="text-danger">
                    Hospital Name is required.
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group">
                  <label>From</label>
                  <input type="text" class="form-control" formControlName="fromDate">
                  <div *ngIf="exp.get('fromDate')?.invalid && exp.get('fromDate')?.touched" class="text-danger">
                    From date is required.
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group">
                  <label>To</label>
                  <input type="text" class="form-control" formControlName="toDate">
                  <div *ngIf="exp.get('toDate')?.invalid && exp.get('toDate')?.touched" class="text-danger">
                    To date is required.
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group">
                  <label>Designation</label>
                  <input type="text" class="form-control" formControlName="designation">
                  <div *ngIf="exp.get('designation')?.invalid && exp.get('designation')?.touched" class="text-danger">
                    Designation is required.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-2 col-lg-1 d-flex align-items-center">
            <a href="javascript:void(0);" (click)="removeExperience(i)" class="text-danger">
              <i class="fa fa-trash fa-lg"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="add-more">
        <a href="javascript:void(0);" (click)="addExperience()">
          <i class="fa fa-plus-circle"></i> Add More
        </a>
      </div>
    </div>
  </div>
  <!-- /Experience -->


  <!-- Awards -->
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Awards</h4>
      <div class="awards-info" formArrayName="awards">
        <div *ngFor="let award of awards.controls; let i = index" [formGroupName]="i" class="row form-row awards-cont">
          <div class="col-12 col-md-10 col-lg-11">
            <div class="row form-row">
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label>Award</label>
                  <input type="text" class="form-control" formControlName="name">
                  <div *ngIf="award.get('name')?.invalid && award.get('name')?.touched" class="text-danger">
                    Award's name is required.
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label>Year</label>
                  <input type="text" class="form-control" formControlName="year">
                  <div *ngIf="award.get('year')?.invalid && award.get('year')?.touched" class="text-danger">
                    year is required.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-2 col-lg-1 d-flex align-items-center">
            <a href="javascript:void(0);" (click)="removeAward(i)" class="text-danger">
              <i class="fa fa-trash fa-lg"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="add-more">
        <a href="javascript:void(0);" (click)="addAward()">
          <i class="fa fa-plus-circle"></i> Add More
        </a>
      </div>
    </div>
  </div>
  <!-- /Awards -->

  <div class="submit-section submit-btn-bottom">
  <button type="submit" class="btn btn-primary submit-btn" [disabled]="doctorForm.invalid">Save Changes</button>
</div>
</form>
