<!-- Page Header -->
<div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="page-title">List of Doctors</h3>
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="javascript:(0);">Users</a></li>
        <li class="breadcrumb-item active">Doctor</li>
      </ul>
    </div>
  </div>
</div>
<!-- /Page Header -->

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="datatable table table-hover table-center mb-0">
            <thead>
            <tr>
              <th>Doctor Name</th>
              <th>Speciality</th>
              <th>Member Since</th>
              <th>Account Status</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let doctor of doctors">
              <td>
                <h2 class="table-avatar">
                  <a href="profile.html" class="avatar avatar-sm mr-2">
                    <img class="avatar-img rounded-circle" [src]="'http://localhost:8083/uploads/profile-pictures/' + doctor.profilePicture" alt="Doctor" alt="User Image"/>

                  </a>
                  <a href="profile.html">{{ doctor.fullName }}</a>
                </h2>
              </td>
              <td>
                {{ doctor.specialities?.length > 0 ? doctor.specialities[0]?.name : 'N/A' }}
              </td>
              <td>
                {{ doctor.joiningDate ? (doctor.joiningDate | date: 'dd MMM yyyy') : 'N/A' }}
              </td>
              <td>
                <div class="status-toggle">
                  <input type="checkbox"
                         [id]="'status_' + doctor.id"
                         class="check"
                         [checked]="doctor.status === 'CONFIRMED'"
                         (change)="toggleStatus(doctor)">
                  <label [for]="'status_' + doctor.id"
                         class="checktoggle"
                         [ngClass]="{
                           'confirmed': doctor.status === 'CONFIRMED',
                           'cancelled': doctor.status === 'PENDING' || doctor.status === 'CANCELLED' || doctor.status === 'REJECTED'
                         }">
                  </label>
                </div>
              </td>


            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
