  <!-- Breadcrumb -->
  <div class="breadcrumb-bar">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-8 col-12">
          <nav aria-label="breadcrumb" class="page-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Search</li>
            </ol>
          </nav>
        </div>
        <div class="col-md-4 col-12 d-md-block d-none">

<!--          <div class="sort-by">-->
<!--            <span class="sort-title">Sort by</span>-->
<!--            <span class="sortby-fliter">-->
<!--									<select class="select">-->
<!--										<option>Select</option>-->
<!--										<option class="sorting">Rating</option>-->
<!--										<option class="sorting">Popular</option>-->
<!--										<option class="sorting">Latest</option>-->
<!--										<option class="sorting">Free</option>-->
<!--									</select>-->
<!--								</span>-->
<!--          </div>-->
          <!-- Search Input -->
          <div class="search-box">
            <div class="input-group">
              <input
                type="text"
                class="form-control rounded-pill px-3"
                placeholder="Search doctors..."
                [(ngModel)]="searchTerm"
                (input)="onSearchChange()"
                style="height: 40px; min-width: 200px;"
              />
              <div class="input-group-append">
                <span class="input-group-text bg-white border-0">
                  <i class="fas fa-search"></i>
                </span>
              </div>
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>
  <!-- /Breadcrumb -->
  <div class="row">
        <div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar">

          <!-- Search Filter -->
          <div class="card search-filter">
            <div class="card-header">
              <h4 class="card-title mb-0">Search Filter</h4>
            </div>
            <div class="card-body">
<!--              <div class="filter-widget">-->
<!--                <div class="cal-icon">-->
<!--                  <input type="text" class="form-control datetimepicker" placeholder="Select Date">-->
<!--                </div>-->
<!--              </div>-->
              <div class="filter-widget">
                <h4>Select Gender</h4>
                <div *ngFor="let gender of availableGenders">
                  <label class="custom_check">
                    <input
                      type="checkbox"
                      [value]="gender"
                      (change)="onGenderCheckboxChange($event)"
                      [checked]="selectedGenders.includes(gender)"
                    />
                    <span class="checkmark"></span> {{ gender }}
                  </label>
                </div>
              </div>

              <div class="filter-widget">
                <h4>Select Specialist</h4>
                <div *ngFor="let speciality of availableSpecialities">
                  <label class="custom_check">
                    <input
                      type="checkbox"
                      [value]="speciality"
                      (change)="onSpecialityCheckboxChange($event)"
                      [checked]="selectedSpecialities.includes(speciality)"
                    />
                    <span class="checkmark"></span> {{ speciality }}
                  </label>
                </div>
              </div>

              <div class="btn-search">
                <button type="button" class="btn btn-block" (click)="onApplyFilters()">Search</button>
              </div>
            </div>
          </div>
          <!-- /Search Filter -->

        </div>

        <div class="col-md-12 col-lg-8 col-xl-9">
          <div *ngIf="filteredDoctors.length === 0" class="alert alert-warning mt-3 text-center">
            No doctors found matching your criteria.
          </div>

          <!-- Doctor Widget -->
          <div class="card" *ngFor="let doctor of filteredDoctors">
            <div class="card-body">
              <div class="doctor-widget">
                <div class="doc-info-left">
                  <div class="doctor-img">
                    <a [routerLink]="['/home/doctor-profile', doctor.id]">
                      <img [src]="'http://localhost:8083/uploads/profile-pictures/' + doctor.profilePicture" alt="Doctor" class="img-fluid" alt="User Image"/>
                    </a>
                  </div>
                  <div class="doc-info-cont">
                    <h4 class="doc-name">
                      <a [routerLink]="['/home/doctor-profile', doctor.id]">
                        Dr. {{ doctor.firstname }} {{ doctor.lastname }}
                      </a>
                    </h4>
                    <p class="doc-speciality">{{ doctor.aboutMe }}</p>
                    <h5 class="doc-department" *ngFor="let speciality of doctor.specialities">
                      <img
                        [src]="'http://localhost:8083/uploads/' + speciality.imageUrl"
                        alt="Speciality"
                        class="img-fluid"
                      >
                      {{ speciality.name }}
                    </h5>
                    <div class="rating">
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star"></i>
                      <span class="d-inline-block average-rating">(35)</span>
                    </div>
                    <div class="clinic-details">
                      <p class="doc-location">
                        <i class="fas fa-map-marker-alt"></i>
                        {{ doctor.city }}, {{ doctor.country }}
                      </p>
                      <ul class="clinic-gallery">
                        <li *ngFor="let image of doctor.clinicImages">
                          <a [href]="image" data-fancybox="gallery">
                            <img [src]="'http://localhost:8083/uploads/clinic-images/' + image" alt="ClinicImages">
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="clinic-services">
                      <span *ngFor="let service of doctor.services">{{ service.services_name }}</span>
                    </div>
                  </div>
                </div>

                <div class="doc-info-right">
                  <div class="clini-infos">
                    <ul>
<!--                      <li><i class="far fa-thumbs-up"></i> {{ doctor.approvalRate || '100%' }}</li>-->
<!--                      <li><i class="far fa-comment"></i> {{ doctor.ratingCount || 0 }} Feedback</li>-->
                      <li>
                        <i class="fas fa-map-marker-alt"></i> {{ doctor.city }}, {{ doctor.country }}
                      </li>
                      <li>
                        <i class="far fa-money-bill-alt"></i>
                        {{ doctor.customPrice || 0 }} TND
                        <i
                          class="fas fa-info-circle"
                          data-toggle="tooltip"
                          title="Consultation fee"
                        ></i>
                      </li>
                    </ul>
                  </div>
                  <div class="clinic-booking">
                    <a class="view-pro-btn" [routerLink]="['/home/doctor-profile', doctor.id]">
                      View Profile
                    </a>
                    <a class="apt-btn" [routerLink]="['/home/booking', doctor.id]">Book Appointment</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- /Doctor Widget -->
          <div class="load-more text-center">
            <a class="btn btn-primary btn-sm" href="javascript:void(0);">Load More</a>
          </div>
        </div>
      </div>

