<!-- Breadcrumb -->
<div class="breadcrumb-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-12 col-12">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Doctor Profile</li>
          </ol>
        </nav>
        <h2 class="breadcrumb-title">Doctor Profile</h2>
      </div>
    </div>
  </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
  <div class="container">

    <div class="card">
      <div class="card-body">
        <div class="doctor-widget">
          <div class="doc-info-left">
            <div class="doctor-img">
              <img [src]="'http://localhost:8083/uploads/profile-pictures/' + doctor.profilePicture" class="img-fluid" alt="User Image" />
            </div>
            <div class="doc-info-cont">
              <h4 class="doc-name">Dr. {{ doctor.firstname }} {{ doctor.lastname }}</h4>
              <p class="doc-speciality">{{ doctor.aboutMe }}</p>
              <h5 class="doc-department" *ngFor="let speciality of doctor.specialities">
                <img [src]="'http://localhost:8083/uploads/' + speciality.imageUrl" class="img-fluid" alt="Speciality">
                {{ speciality.name }}
              </h5>
              <div class="rating">
                <i class="fas fa-star filled"></i>
                <i class="fas fa-star filled"></i>
                <i class="fas fa-star filled"></i>
                <i class="fas fa-star filled"></i>
                <i class="fas fa-star"></i>
                <span class="d-inline-block average-rating">(35)</span>
              </div>
              <div class="clinic-details">
                <p class="doc-location"><i class="fas fa-map-marker-alt"></i> {{ doctor.city }}, {{ doctor.country }}</p>
                <ul class="clinic-gallery">
                  <li *ngFor="let image of doctor.clinicImages">
                    <a [href]="'http://localhost:8083/uploads/clinic-images/' + image" data-fancybox="gallery">
                      <img [src]="'http://localhost:8083/uploads/clinic-images/' + image" alt="Clinic Image">
                    </a>
                  </li>
                </ul>
              </div>
              <div class="clinic-services">
                <span *ngFor="let service of doctor.services">{{ service.services_name }}</span>
              </div>
            </div>
          </div>
          <div class="doc-info-right">
            <div class="clini-infos">
              <ul>
                <li><i class="fas fa-map-marker-alt"></i> {{ doctor.city }}, {{ doctor.country }}</li>
                <li><i class="far fa-money-bill-alt"></i> {{ doctor.customPrice || 0 }} TND
                  <i class="fas fa-info-circle" data-toggle="tooltip" title="Consultation fee"></i>
                </li>
              </ul>
            </div>
            <div class="clinic-booking">
              <a class="apt-btn" [routerLink]="['/home/booking', doctor.id]">Book Appointment</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Doctor Details Tab -->
    <div class="card">
      <div class="card-body pt-0">

        <!-- Tab Menu -->
        <nav class="user-tabs mb-4">
          <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
            <li class="nav-item">
              <a class="nav-link active" href="#doc_overview" data-toggle="tab">Overview</a>
            </li>
          </ul>
        </nav>
        <!-- /Tab Menu -->

        <!-- Tab Content -->
        <div class="tab-content pt-0">

          <!-- Overview Content -->
          <div role="tabpanel" id="doc_overview" class="tab-pane fade show active">
            <div class="row">
              <div class="col-md-12 col-lg-9">

                <!-- About Details -->
                <div class="widget about-widget">
                  <h4 class="widget-title">About Me</h4>
                  <p>{{ doctor.aboutMe }}</p>
                </div>
                <!-- /About Details -->

                <!-- Education Details -->
                <div class="widget education-widget" *ngIf="doctor.education?.length">
                  <h4 class="widget-title">Education</h4>
                  <div class="experience-box">
                    <ul class="experience-list">
                      <li *ngFor="let edu of doctor.education">
                        <div class="experience-user">
                          <div class="before-circle"></div>
                        </div>
                        <div class="experience-content">
                          <div class="timeline-content">
                            <a href="#/" class="name">{{ edu.institute }}</a>
                            <div>{{ edu.degree }}</div>
                            <span class="time">{{ edu.yearOfCompletion }}</span>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>

                <!-- /Education Details -->

                <!-- Experience Section -->
                <div class="widget experience-widget" *ngIf="doctor.experience?.length">
                  <h4 class="widget-title">Work & Experience</h4>
                  <div class="experience-box">
                    <ul class="experience-list">
                      <li *ngFor="let exp of doctor.experience">
                        <div class="experience-user">
                          <div class="before-circle"></div>
                        </div>
                        <div class="experience-content">
                          <div class="timeline-content">
                            <a href="#/" class="name">{{ exp.hospitalName }}</a>
                            <h5 class="designation">{{ exp.designation }}</h5>
                            <span class="time">
                              {{ exp.fromDate }} - {{ exp.toDate }}
                                              ({{ exp.toDate - exp.fromDate }} years)
                            </span>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>

                <!-- Awards Section -->
                <div class="widget awards-widget" *ngIf="doctor.awards?.length">
                  <h4 class="widget-title">Awards</h4>
                  <div class="experience-box">
                    <ul class="experience-list">
                      <li *ngFor="let award of doctor.awards">
                        <div class="experience-user">
                          <div class="before-circle"></div>
                        </div>
                        <div class="experience-content">
                          <div class="timeline-content">
                            <p class="exp-year">{{ award.year }}</p>
                            <h4 class="exp-title">{{ award.name }}</h4>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>

                <!-- Services List -->
                <!-- Services List -->
                <div class="service-list" *ngIf="doctor.services?.length">
                  <h4>Services</h4>
                  <ul class="clearfix">
                    <li *ngFor="let service of doctor.services">{{ service.services_name }}</li>
                  </ul>
                </div>
                <!-- /Services List -->
              </div>
            </div>
          </div>
          <!-- /Overview Content -->


        </div>
      </div>
    </div>
    <!-- /Doctor Details Tab -->

  </div>
</div>
<!-- /Page Content -->
