<div class="row">
  <div class="col-md-12">
    <div class="card dash-card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 col-lg-4">
            <div class="dash-widget dct-border-rht">
              <div class="circle-bar circle-bar1">
                <div class="circle-graph1" [attr.data-percent]="getPercent(totalPatients, maxPatients)">
                  <img src="assets/img/icon-01.png" class="img-fluid" alt="patient">
                </div>
              </div>
              <div class="dash-widget-info">
                <h6>Total Patient</h6>
                <h3>{{ totalPatients }}</h3>
                <p class="text-muted">Till Today</p>
              </div>
            </div>
          </div>

          <div class="col-md-12 col-lg-4">
            <div class="dash-widget dct-border-rht">
              <div class="circle-bar circle-bar2">
                <div class="circle-graph2" [attr.data-percent]="getPercent(todayPatients, maxTodayPatients)">
                  <img src="assets/img/icon-02.png" class="img-fluid" alt="Patient">
                </div>
              </div>
              <div class="dash-widget-info">
                <h6>Today Patient</h6>
                <h3>{{ todayPatients }}</h3>
                <p class="text-muted">06, Nov 2019</p>
              </div>
            </div>
          </div>

          <div class="col-md-12 col-lg-4">
            <div class="dash-widget">
              <div class="circle-bar circle-bar3">
                <div class="circle-graph3" [attr.data-percent]="getPercent(AppointmentsCount, maxAppointments)">
                  <img src="assets/img/icon-03.png" class="img-fluid" alt="Patient">
                </div>
              </div>
              <div class="dash-widget-info">
                <h6>Appoinments</h6>
                <h3>{{ AppointmentsCount }}</h3>
                <p class="text-muted">06, Apr 2019</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4 class="mb-4">Patient Appoinment</h4>
    <div class="appointment-tab">

      <!-- Appointment Tab -->
      <ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded">
        <li class="nav-item">
          <a class="nav-link active" href="#upcoming-appointments" data-toggle="tab">Upcoming</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#today-appointments" data-toggle="tab">Today</a>
        </li>
      </ul>
      <!-- /Appointment Tab -->

      <div class="tab-content">

        <!-- Upcoming Appointment Tab -->
        <div class="tab-pane show active" id="upcoming-appointments">
          <div class="card card-table mb-0">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover table-center mb-0">
                  <thead>
                  <tr>
                    <th>Patient Name</th>
                    <th>Appt Date</th>
                    <th>Purpose</th>
                    <th>Status</th>
                    <th class="text-center">Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngIf="allAppointments.length === 0" class="alert alert-warning mt-3 text-center">
                    <td colspan="5" class="text-center text-muted">No upcoming appointments</td>
                  </tr>
                  <tr *ngFor="let appt of allAppointments">
                    <td>
                      <h2 class="table-avatar">
                        <a class="avatar avatar-sm mr-2">
                          <img class="avatar-img rounded-circle" [src]="'http://localhost:8083/uploads/profile-pictures/' + appt.patient?.profilePicture"  alt="Img">

                        </a>
                        <a> {{appt.patient?.firstname }} {{ appt.patient?.lastname}} <span>#PT{{appt.patient?.id}}</span></a>

                      </h2>
                    </td>
                    <td>{{ appt.date | date:'dd MMM yyyy' }} <span class="d-block text-info">{{ formatTime(appt.startTime) }} - {{ formatTime(appt.endTime) }}</span></td>
                    <td>Consultation</td>
                    <td><span [ngClass]="{
                              'badge badge-pill bg-success-light': appt.status === 'CONFIRMED',
                              'badge badge-pill bg-danger-light': appt.status === 'CANCELLED',
                              'badge badge-pill bg-warning-light': appt.status === 'PENDING'
                            }">{{ appt.status }}</span>
                    </td>
<!--                    <td class="text-center">${{ appt.amount }}</td>-->
                    <td class="text-right">
                      <div class="appointment-action" *ngIf="appt.status === 'PENDING'">
                        <!--      <a href="javascript:void(0);" class="btn btn-sm bg-info-light" (click)="viewAppointment(appt)">-->
                        <!--        <i class="far fa-eye"></i> View-->
                        <!--      </a>-->

                        <a href="javascript:void(0);" class="btn btn-sm bg-success-light" (click)="acceptAppointment(appt.id)">
                          <i class="fas fa-check"></i> Accept
                        </a>
                        <a href="javascript:void(0);" class="btn btn-sm bg-danger-light" (click)="cancelAppointment(appt.id)">
                          <i class="fas fa-times"></i> Cancel
                        </a>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- /Upcoming Appointment Tab -->

        <!-- Today Appointment Tab -->
        <div class="tab-pane" id="today-appointments">
          <div class="card card-table mb-0">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover table-center mb-0">
                  <thead>
                  <tr>
                    <th>Patient Name</th>
                    <th>Appt Date</th>
                    <th>Purpose</th>
                    <th>Status</th>
                    <th class="text-center">Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngIf="todayAppointments.length === 0" class="alert alert-warning mt-3 text-center">
                    <td colspan="6" class="text-center text-muted" >No appointments for today</td>
                  </tr>
                  <tr *ngFor="let appt of todayAppointments">
                    <td>
                      <h2 class="table-avatar">
                        <a class="avatar avatar-sm mr-2">
                          <img class="avatar-img rounded-circle" [src]="'http://localhost:8083/uploads/profile-pictures/' + appt.patient?.profilePicture" alt="Img">
                        </a>
                        <a>{{ appt.patient?.firstname }} {{ appt.patient?.lastname }} <span>#PT{{ appt.patient?.id }}</span></a>
                      </h2>
                    </td>
                    <td>{{ appt.date | date:'dd MMM yyyy' }}
                      <span class="d-block text-info">{{ formatTime(appt.startTime) }} - {{ formatTime(appt.endTime) }}</span>
                    </td>
                    <td>Consultation</td>
                    <td>{{ appt.patient?.status }}</td>
                    <td class="text-right">
                      <div class="appointment-action" *ngIf="appt.status === 'PENDING'">
                        <a href="javascript:void(0);" class="btn btn-sm bg-success-light" (click)="acceptAppointment(appt.id)">
                          <i class="fas fa-check"></i> Accept
                        </a>
                        <a href="javascript:void(0);" class="btn btn-sm bg-danger-light" (click)="cancelAppointment(appt.id)">
                          <i class="fas fa-times"></i> Cancel
                        </a>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- /Today Appointment Tab -->
      </div>
    </div>
  </div>
</div>
