<!-- Sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-inner slimscroll">
    <div id="sidebar-menu" class="sidebar-menu">
      <ul>
        <li class="menu-title">
          <span>Main</span>
        </li>
        <li class="active">
          <a [routerLink]="['featuresAdmin/admin-dashboard']"><i class="fe fe-home"></i> <span>Dashboard</span></a>
        </li>
        <li>
          <a [routerLink]="['featuresAdmin/admin-appointment']"><i class="fe fe-layout"></i> <span>Appointments</span></a>
        </li>
        <li>
          <a [routerLink]="['featuresAdmin/admin-specialities']"><i class="fe fe-users"></i> <span>Specialities</span></a>
        </li>
        <li>
          <a [routerLink]="['featuresAdmin/admin-doctors']"><i class="fe fe-user-plus"></i> <span>Doctors</span></a>
        </li>
        <li>
          <a [routerLink]="['featuresAdmin/admin-patients']"><i class="fe fe-user"></i> <span>Patients</span></a>
        </li>
        <li>
          <a [routerLink]="['featuresAdmin/admin-profile']"><i class="fe fe-user-plus"></i> <span>Profile</span></a>
        </li>
<!--        <li class="submenu">-->
<!--          <a href="#"><i class="fe fe-document"></i> <span> Authentication </span> <span class="menu-arrow"></span></a>-->
<!--          <ul style="display: none;">-->
<!--            <li><a href="login.html"> Login </a></li>-->
<!--            <li><a href="register.html"> Register </a></li>-->
<!--            <li><a href="forgot-password.html"> Forgot Password </a></li>-->
<!--            <li><a href="lock-screen.html"> Lock Screen </a></li>-->
<!--          </ul>-->
<!--        </li>-->
          </ul>
    </div>
  </div>
</div>
<!-- /Sidebar -->

